@charset "UTF-8";
*,
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

@media (min-width: 600px) {
  *,
  html,
  body {
    font-size: xx-large;
  }
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

/* --- END http://htmlbook.ru/faq/kak-ubrat-markery-v-markirovannom-spiske*/
.itmePart5 > div:nth-child(1) {
  width: 320px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.expression {
  color: red;
}

.audio-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 10px;
  background-color: teal;
  z-index: 2;
}

.wrap {
  max-width: 320px;
  margin: auto;
}

.item5 {
  position: relative;
  margin-bottom: 5em;
  border: 1px solid black;
  border-radius: 5px;
}

.plus190 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
}

.teeth {
  color: red;
}

.imgRec {
  padding: 50px;
  cursor: pointer;
  background-color: bisque;
}

.imgRec > img:first-child {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}

.imgRec > img:last-child {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 70px;
  right: 80px;
}

.youtube {
  width: 320px;
  height: 200px;
}

.youtube > img {
  max-width: 100%;
}

nav figure {
  display: inline-block;
  width: 80px;
  margin: 0;
}

nav figure img {
  width: 100%;
}

nav::after {
  content: "";
  clear: both;
}

.simple {
  max-width: 900px;
  margin: 2em auto;
}

.simple p {
  margin: 0;
  text-indent: .35in;
  line-height: 150%;
}

.simple .pre {
  white-space: pre-wrap;
  padding: 1em;
}
